<h3 class="update-header">Update User</h3>
<div class="form-container">
  <form [formGroup]="updateuserform" (ngSubmit)="updateUser()">
    <div class="form-wrapper">
      <div class="form-group">
        <label for="name">First Name</label>
        <input
          type="text"
          class="form-control"
          id="first"
          name="first"
          placeholder="Enter first name"
          formControlName="first"
          [(ngModel)]="user.name.first"
          [ngClass]="{
            'is-invalid': submitted && f.first.errors
          }"
        />
        <div *ngIf="submitted && f.first.errors" class="invalid-feedback">
          <div *ngIf="f.first.errors.required">
            First Name is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="last"
          name="last"
          placeholder="Enter last name"
          formControlName="last"
          [(ngModel)]="user.name.last"
          [ngClass]="{ 'is-invalid': submitted && f.last.errors }"
        />
        <div *ngIf="submitted && f.last.errors" class="invalid-feedback">
          <div *ngIf="f.last.errors.required">Last Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Age</label>
        <input
          type="number"
          class="form-control"
          id="age"
          name="age"
          placeholder="Enter age"
          formControlName="age"
          [(ngModel)]="user.age"
        />
      </div>

      <div class="form-group">
        <label for="name">Title</label>
        <select
          id="title"
          class="form-control"
          id="title"
          name="age"
          formControlName="title"
          [(ngModel)]="user.title"
          [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
        >
          <option disabled>Select title</option>
          <option>Mr</option>
          <option>Mrs</option>
          <option>Other</option>
        </select>
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Other</label>
        <input
          type="text"
          class="form-control"
          id="other"
          name="other"
          placeholder="Enter other"
          formControlName="other"
          [(ngModel)]="user.other"
          [ngClass]="{ 'is-invalid': submitted && f.other.errors }"
        />
        <div *ngIf="submitted && f.other.errors" class="invalid-feedback">
          <div *ngIf="f.other.errors.required">Other is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Company</label>
        <input
          type="text"
          class="form-control"
          id="company"
          name="company"
          placeholder="Enter company"
          formControlName="company"
          [(ngModel)]="user.company"
        />
      </div>

      <div class="form-group">
        <label for="name">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
          formControlName="email"
          [(ngModel)]="user.email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Phone</label>
        <button
          type="button"
          (click)="addPhone()"
          class="btn btn-primary btn-success add-btn"
        >
          Add
        </button>
        <!-- <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          formControlName="phone"
          [(ngModel)]="user.phone"
          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
        /> -->
        <!-- <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.errors.required">Phone is required</div>
        </div> -->

        <table class="table phone-table" formArrayName="phone">
          <tr
            *ngFor="let ph of phone.controls; let i = index"
            [formGroupName]="i"
          >
            <td class="phone-input-td">
              <input
                class="phone-input-td"
                type="text"
                id="phone"
                name="phone"
                required
                formControlName="phone"
                class="form-control"
                placeholder="Enter phone"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                [ngClass]="{
                  'is-invalid':
                    submitted &&
                    f.phone.at(i).controls.phone.status === 'INVALID'
                }"
              />
              <!-- <div *ngIf="submitted" class="invalid-feedback"> -->
              <!-- <div *ngIf="f.phone.status == 'INVALID'">
                Phone is required
              </div> -->
              <!-- </div> -->
              <div *ngIf="submitted" class="invalid-feedback">
                <div *ngIf="f.phone.at(i).controls.phone.status === 'INVALID'">
                  Phone is required
                </div>
              </div>
            </td>

            <td class="remove-td">
              <button (click)="removePhone(i)" class="btn btn-danger">
                Remove
              </button>
            </td>
          </tr>
        </table>
      </div>

      <div class="form-group">
        <label for="name">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          name="address"
          formControlName="address"
          placeholder="Enter address"
          [(ngModel)]="user.address"
          [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
        />
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Address2</label>
        <input
          type="text"
          class="form-control"
          id="address2"
          name="address2"
          placeholder="Enter address"
          formControlName="address2"
          [(ngModel)]="user.address2"
        />
      </div>

      <div class="form-group">
        <label for="name">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          name="city"
          placeholder="Enter city"
          formControlName="city"
          [(ngModel)]="user.city"
          [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
        />
        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
          <div *ngIf="f.city.errors.required">City is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">State</label>
        <input
          type="text"
          class="form-control"
          id="state"
          name="state"
          placeholder="Enter state"
          formControlName="state"
          [(ngModel)]="user.state"
          [ngClass]="{ 'is-invalid': submitted && f.state.errors }"
        />
        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
          <div *ngIf="f.state.errors.required">State is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Zipcode</label>
        <input
          type="string"
          class="form-control"
          id="zipcode"
          name="zipcode"
          placeholder="Enter zipcode"
          formControlName="zipcode"
          [(ngModel)]="user.zipcode"
          [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }"
        />
        <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
          <div *ngIf="f.zipcode.errors.required">Zipcode is required</div>
        </div>
      </div>
    </div>
    <footer class="footer-wrapper">
      <div class="d-flex justify-content-end">
        <button class="tertiary-btn btn" (click)="backtoUsers()">
          Cancel
        </button>
        &nbsp;&nbsp;
        <button type="submit" class="primary-btn btn">
          Save
        </button>
      </div>
    </footer>
  </form>
</div>
