.update-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.form-container {
    display: flex;
    justify-content: center;
    // width: 400px;
    // border: 1px solid red;

    .form-wrapper {
        display: flow-root;
        margin-bottom: 100px;
        // border: 1px solid blue;
        width: 400px;

        .add-btn {
            float: right;
        }

        .red-star {
            color: red;
        }

        .phone-table {
            .phone-input-td {
                padding: 1em 1em 1em 0em;
                border: none;
            }

            .remove-td {
                padding: 1em 0em 1em 0em;
                border: none;

                .btn-danger {
                    float: right;
                }
            }
        }
    }

    .footer-wrapper {
        box-shadow: 0px -2px 4px 0 rgba(0, 0, 0, 0.21);
        background-color: white;
        padding: 12px;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;

        .primary-btn,
        .tertiary-btn:focus {
            outline: 0;
        }

        .primary-btn {
            color: #ffffff;
            height: 34px;
            background-color: #1079bf;
            font-size: 14px;
            border-radius: 4px;
            font-weight: 600;
        }

        .primary-btn:hover {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
            color: white;
        }

        .primary-btn:active {
            background-color: #283b4b;
        }

        .primary-btn:focus {
            outline: 0;
        }

        .tertiary-btn {
            background-color: transparent;
            border: none;
            color: #1079bf;
            height: 34px;
            font-weight: 600;
        }

        .tertiary-btn:hover {
            font-weight: 600;
        }
    }
}
