.add-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form-container {
    display: flex;
    justify-content: center;

    .form-wrapper {
        display: flow-root;
        margin-bottom: 100px;
        width: 400px;

        .red-star {
            color: red;
        }

        .add-btn {
            float: right;
            display: flex;
        }

        .del-btn {
            display: flex;
        }

        .phone-table {
            .phone-input-td {
                padding: 1em 1em 1em 0em;
                border: none;
            }

            .remove-td {
                padding: 1em 0em 1em 0em;
                border: none;

                .btn-danger {
                    float: right;
                }
            }
        }
    }

    .footer-wrapper {
        box-shadow: 0px -2px 4px 0 rgba(0, 0, 0, 0.21);
        background-color: white;
        padding: 12px;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;

        .btn-success,
        .btn-secondary {
            display: flex;
        }
    }
}
